{% extends 'base.html.twig' %}

{% block title %}User list{% endblock %}

{% block body %}
    <div class="container">
        <div class="w-75 ml-auto mr-auto">
            <table>
                <thead>
                    <tr>
                        <td class="w-25">name</td>
                        <td class="w-25">email</td>
                        <td class="w-25">active</td>
                        <td class="w-25">actions</td>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {% if(user.active) %}
                                active
                            {% else %}
                                inactive
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ url('admin_user_details', { id: user.id}) }}">see details</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
