<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav>

        </nav>
        {% block body %}{% endblock %}
        <footer>

        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
